<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hazelnut.myjobs">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyJobs"
        android:usesCleartextTraffic="true">
        <activity android:name=".UploadFile">

        </activity>
        <activity android:name=".User.Perusahaan.Main.DetailLamaranActivity" />
        <activity android:name=".User.Perusahaan.Main.ListLamaranActivity" />
        <activity android:name=".User.Pelamar.Main.KirimAct" />
        <activity android:name=".User.Pelamar.Main.QuickSort" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".User.Perusahaan.Main.ProfileActivity" />
        <activity android:name=".User.Perusahaan.Main.FormActivity" />
        <activity android:name=".User.Perusahaan.Main.DetailPHAct" />
        <activity android:name=".User.Pelamar.Main.DetailUserAct" />
        <activity android:name=".User.Pelamar.Main.ProfileUserAct" />
        <activity android:name=".User.Perusahaan.Main.MainPHAct" />
        <activity android:name=".User.Pelamar.Main.MainUserAct" />
        <activity android:name=".User.Pelamar.Register.RegisterUserAct" />
        <activity android:name=".User.Pelamar.Login.LoginUserAct" />
        <activity android:name=".User.Perusahaan.Register.RegisterActivity" />
        <activity android:name=".User.Perusahaan.Login.LoginActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>